/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#white{
    width: 900px;
    height: 600px;
    background-color: rgb(38, 109, 38);
}

#ding2 {
    margin-left: 27%;
    margin-right: 27%;
    margin-top: -50%;
    vertical-align: middle;
    height: 250px;
    width: 250px;
    background-color: rgb(110, 2, 2);
    border-radius: 100%;
}